@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
* {
    box-sizing: border-box;
  }
  
  body,
  div,
  dl,
  dt,
  dd,
  ul,
  ol,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre,
  form,
  fieldset,
  input,
  textarea,
  p,
  blockquote,
  th,
  td {
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
  }

:root {
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    --grayish-blue: hsl(217, 19%, 24%);
    --gray-blue: hsl(218, 23%, 16%);
}

body {
  background-color: var(--gray-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Manrope", sans-serif;
  font-weight: 900;
  font-optical-sizing: auto;
  font-style: normal;

}

/* .manrope-<uniquifier> {
    font-family: "Manrope", sans-serif;
    
    font-weight: 800;
  }
   */

.advice-container {
  width: 500px;
  height: 300px;
  background-color: var(--grayish-blue);
  margin: 0 auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 12px;
  position: relative;
}

.advice-container p {
  color: var(--neon-green);
  letter-spacing: 5px;
}

.advice-container hr {
  /* border: 1px solid var(--light-cyan); */
  border: none;
  height: 1px;
  color: var(--light-cyan);
  background-color: var(--light-cyan);
  width: 100%;
}

.advice-container button {
  background: none;
  border: none;
  background-color: var(--neon-green);
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin: 0 auto;
  margin-top: auto;
  transform: translate(0, 50%);
}

.advice-container button:hover {
  cursor: pointer;
  box-shadow: 0 0 40px 5px var(--neon-green);
}

footer {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  text-align: center;
}